#bot-chart {
	width: 70%;
	height: 300px;
	margin: auto;
}

#form-div {
	text-align: center;
	padding-top: 30px;
	width: 80%;
}

select {
	background: transparent;
	width: 150px;
	height: 30px;
	font-size: 16px;
}

table {
	margin: auto;
	text-align: center;
	padding-top: 30px;
}

#submit {
	width: 150px;
	height: 30px;
	font-size: 16px;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 8px auto;
	text-align: center;
	text-decoration: none;
}

#submit:hover {
	border: 1px solid #4CAF50;
	background-color: white;
	color: #4CAF50;
}
