#form-div {
	padding: auto;
	text-align: center;
}

select {
	background: transparent;
	width: 150px;
	height: 30px;
	font-size: 16px;
}

table {
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
